label {
  font-size: @label-font-size;
}

input {
  border: none;
  border-bottom: solid 1px @grey-3;
  font-size: @input-font-size;

  &:focus,
  &:active {
    outline: none;
    border-bottom-color: lighten(@primary, 30%);
  }
  &.touched:invalid {
    border-bottom-color: @danger;
  }

  &::-webkit-search-cancel-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'gonzocons' !important;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content:"\e913";
  }
}

.input-group {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "label input"
    "none help"
  ;
  margin: 20px 0;
  max-width: 500px;

  label {
    grid-area: label;
    font-weight: bold;
    text-align: right;
    margin-right: @input-margin;
  }

  input {
    grid-area: input;
    text-align: left;
    margin-left: @input-margin;
  }

  .help {
    grid-area: help;
    margin-left: @input-margin;
  }

  &.invalid {
    label {
      color: @danger;
    }

    input {
      border-color: @danger;
    }

    .help {
      color: @danger;
    }
  }
}