h1 {
  font-weight: @h1-font-weight;
  font-size: @h1-font-size;
  text-transform: @h1-text-transform;
}

h2 {
  font-weight: @h2-font-weight;
  font-size: @h2-font-size;
  text-transform: @h2-text-transform;
}

h3 {
  font-weight: @h3-font-weight;
  font-size: @h3-font-size;
  text-transform: @h3-text-transform;
}

h4 {
  font-weight: @h4-font-weight;
  font-size: @h4-font-size;
  text-transform: @h4-text-transform;
}

h5 {
  font-weight: @h5-font-weight;
  font-size: @h5-font-size;
  text-transform: @h5-text-transform;
}