.focus-active(@color) {
  &:focus,
  &:active {
    outline-color: lighten(@color, 30%);
    border-color: lighten(@color, 30%);
  }
}

label {
  font-size: @label-font-size;
}

input {
  border: 1px solid @grey-3;
  border-radius: 2px;
  font-size: @input-font-size;
  padding: 4px;

  .focus-active(@primary);

  &.touched:invalid {
    border-color: @danger;
  }
}

.input-group {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-template-areas:
    "label input"
    "none help"
  ;
  grid-gap: @input-margin;
  margin: 20px 0;
  max-width: 720px;

  label {
    grid-area: label;
    font-weight: bold;
    text-align: right;
    line-height: 100%;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  input {
    grid-area: input;
    text-align: left;
  }

  .help {
    grid-area: help;
    color: @grey-7;
    
    .error{
      &::before {
        .fa-icon();
        content: @fa-var-exclamation-triangle;
        margin-right: 5px;
      }
      color: @danger;
    }
  }

  &.invalid {
    label {
      color: @danger;
    }

    input {
      border-color: @danger;
      .focus-active(@danger);
    }
  }
}