.focus-active(@color) {
  &:focus,
  &:active {
    outline-color: lighten(@color, 30%);
    border-color: lighten(@color, 30%);
  }
}

label {
  font-size: @label-font-size;
}

input {
  border: 1px solid @grey-3;
  border-radius: 2px;
  font-size: @input-font-size;
  padding: 4px;

  .focus-active(@primary);

  &.touched:invalid {
    border-color: @danger;
  }
}

.form-fields {
  display: -ms-grid;
  display: grid;
  grid-template-columns: minmax(0, max-content) 1fr;
  grid-gap: @input-margin;

  label {
    grid-column-start: 1;
    grid-column-end: 2;
    font-weight: bold;
    text-align: right;
    line-height: 100%;
    vertical-align: middle;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .input-group {
    grid-column-start: 2;
    grid-column-end: 3;
    text-align: left;

    &.invalid {
      input {
        .focus-active(@danger);
        border-color: @danger;
      }
    }

    .help {
      grid-area: help;
      color: @grey-7;
      
      .success {
        &::before{
          .fa-icon();
          content: @fa-var-check-circle;
          margin-right: 5px;
        }

        color: @success;
      }

      .warning {
        &::before{
          .fa-icon();
          content: @fa-var-exclamation-triangle;
          margin-right: 5px;
        }

        color: @warning;
      }

      .danger,
      .error {
        &::before {
          .fa-icon();
          content: @fa-var-exclamation-triangle;
          margin-right: 5px;
        }
        color: @danger;
      }
    }
  }
}