.search-bar {
  display: inline-flex;
  align-items: center;
  border: 1px solid @grey-c;
  border-radius: 2px;

  * {
    margin: 0;
  }

  input {
    border: none;
    &:focus,
    &:active {
      outline: none;
    }
  }

  button {
    border: none;
    outline: none;
  }
}