table {
  width: 100%;
  border-collapse: collapse;

  tr {
    border-bottom: 1px solid @grey-c
  }

  th, td {
    text-align: left;
  }

  th.sortable {
    &:hover {
      cursor: pointer;
    }
  }
}