@nav-width: 300px;

@media (min-width: 1080px) {
  .app.left-nav {
    display: grid;
    grid-template-columns: @nav-width 1fr;
    grid-template-rows: min-content 1fr 30px;
    grid-template-areas:
      "header header"
      "nav main"
      "footer footer"
      ;
    height: 100%;
  }
}

@media (min-width: 1080px) {
  .app.right-nav {
    display: grid;
    grid-template-columns: 1fr @nav-width;
    grid-template-rows: min-content 1fr 30px;
    grid-template-areas:
      "header header"
      "main nav"
      "footer footer"
      ;
    height: 100%;
  }
}