header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: @header-color;
  background-color: @header-background-color;
  margin: 0;
  padding: @header-padding;
  min-height: fit-content;

  h1,
  h2,
  h3,
  h4,
  h5 {
    flex-grow: 1;
    margin: 0;
    text-transform: uppercase;
  }

  nav {
    color: @grey-d;
    background-color: inherit;
  }
}